@import "compass/css3";


  #header {

    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    font-family: Calibri, sans-serif;
    color: #004937;

    h1 {
      margin-bottom: 0px;
      font-size: 30px;
    }

    h2 {
      margin-top: 10px;
      font-size: 22px;
      font-style: italic;
    }
  }

  #body {

    width: 90%;
    margin: auto;

    #map-canvas {
      float: right;
      height: 550px;
      width: 62%;
    }

    #panel-body {
      width: 35%;
      padding: 15px;

      form {
        input {
          width: 65%;
          padding: 5px 10px 5px 10px;
          font-size: 16px;
        }

        button {
          margin-left: 5px;
          padding: 5px 15px 5px 15px;
          font-size: 14px;
        }

        #error-message {
          padding-top: 10px;
          color: red;
        }
      }

      .slider {
        width: 91%;
        margin-top: 30px;

        .jslider-label, .jslider-value {
          display: none;
        }
      }
    }
  }
