<link rel="stylesheet" href="styles/map.css">

<section id="header">
  <h1>Mapping Site Amenities: A Tool for Affordable Housing Developers in California</h1>
  <h2>Analyzing Site Feasibility for the California Tax Credit Allocation Committee (TCAC) Application</h2>
</section>

<section id="body">
  <div id="map-canvas"></div>
  <form ng-controller="MapCtrl as map" ng-submit="map.codeAddress(map.address)">
    <div>
      <input type="text" ng-model="map.address" placeholder="Site location"></input>
      <button type="submit">Find</button>
    </div>
    <div id="error-message" ng-show="geocodeError">Sorry, we could not find that address. Please search for a new location.</div>
  </form>
  </section>
</section>
