<link rel="stylesheet" href="styles/map.css">

<section id="header">
  <h1>Mapping Site Amenities: A Tool for Affordable Housing Developers in California</h1>
  <h2>Analyzing Site Feasibility for the California Tax Credit Allocation Committee (TCAC) Application</h2>
</section>

<section id="body">
  <div id="map-canvas"></div>
  <div id="panel-body">
    <form novalidate name="address_form" ng-controller="MapCtrl as map" ng-submit="map.codeAddress(map.address)">
      <input type="text" ng-model="map.address" placeholder="Site location" required></input>
      <button type="submit">Find</button>
      <div id="error-message" ng-show="(address_form.$invalid && address_form.$dirty) || geocodeError">Please enter a valid site address.</div>
    </form>
  </div>
</section>
